<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        text-align: center;
      }
      #body {
        position: relative;
        width: 100%;
        height: 800px;
      }
      #in {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 930px;
        height: 700px;
        /* background-color: yellow; */
      }
      #list1 {
        background-color: #888888;
        width: 100%;
        height: 70px;
        position: relative;
      }
      .list {
        width: 100%;
        height: 70px;
        position: relative;
      }
      #listin1 {
        display: flex;
        float: left;
        width: 50%;
        height: 70px;
        justify-content: center;
        align-items: center;
      }
      #listin2 {
        display: flex;
        float: right;
        width: 50%;
        height: 70px;
        justify-content: center;
        align-items: center;
      }
      /* #in > a {
        display: flex;
        justify-content: right;
        margin-right: 50px;
        text-decoration: none;
        width: 100px;
      } */
      #createb{
        float: right;
        display: inline;
        /* background-color: yellow; */
        width: 100px;
      }
    </style>
  </head>
  <body>
    <h1>게시판 글목록</h1>
    <h3><span id="nick"></span>님 로그인중 <a href="/mypage">마이페이지</a> <a id="logoff" href="/">로그아웃</a></h3>
    <div id="body">
      <div id="in">
        <br>
        <a id="createb" href="/createb"><button>글 작성</button></a>
        <br>
        <hr />
        <div id="list1">
          <div id="listin1">제목</div>
          <div id="listin2">올린사람</div>
        </div>
        <hr />

        <!-- ---------- -->
        <% blist1.forEach((el,index) => { %>
        <div class="list">
          <div id="listin1">
            <a href="/bread/<%= el.b_id %>" id="<%= el.name %>" ><%= el.title %></a>
          </div>
          <div id="listin2"><%= el.name %></div>
        </div>
        <hr />
        <% }); %>
        <!-- -------------- -->

      </div>
    </div>
  </body>
  <script>
    let logon = sessionStorage.getItem("mysession");
    if (logon) {
      document.querySelector("#nick").innerHTML = logon;
    }

    document.querySelector("#logoff").addEventListener("click", function () {
      sessionStorage.removeItem("mysession");
    });
  </script>
</html>
