<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>추가 페이지</h2>
    <form action="/insert" method="post">
        <!-- 이 url로 요청을 보낼건데 데이터의 객체의 값은 이 value값이다. -->
        <label for="">이름</label>
        <input type="text" name="name">
        <label for="">전화번호</label>
        <input type="text" name="number">
        <label for="">시리즈</label>
        <input type="text" name="series">
        <button>추가</button>
    </form>
</body>
</html>