@font-face {
    font-family: "Dongle";
    src: url(../Dongle/Dongle-Light.ttf) format('truetype');
}

h1{
    text-align: center;
    font-family: 'Dongle';
}


.tab-menu {
    display: flex;
    justify-content: center;
}

#top>input {
    display: none;
}
#top{
    /* display: flex; */
    /* flex-wrap: wrap; */
}

#top>input+label {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: yellow; */
    color: black;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-bottom: 1px solid #503396;
}

#top>input:checked+label {
    border: 1px solid #503396;
    color: #503396;
    border-bottom: 0px;
}

input[class="tab01"]:checked~.item1 {
    display: block;
    color: white;
}

input[class="tab02"]:checked~.item2 {
    display: block;
    color: white;
}

input[class="tab03"]:checked~.item3 {
    display: block;
    color: white;
}

input[class="tab04"]:checked~.item4 {
    display: block;
    color: white;
}

input[class="tab05"]:checked~.item5 {
    display: block;
    color: white;
}

.text-box::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 171px;
    background-image: url("https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png");
    width: 12px;
    height: 12px;
    background-size: 12px;
    display: block;
}

.text-box {
    position: relative;
    float: right;
}
.text-box input{
    /* padding-right: 20px; */
    border-bottom: 0px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.text-box input:first-child{
    border-right: 0px;
}
.text-box #in1{
    position: absolute;
    top: 3px;
    left: 173px;
    border-left: 0px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 10px;
}
.box {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    margin: 0 auto;
    display: none;
}
#first{
    width: 100%;
    height: 450px;
    /* background-color: yellow; */
    white-space: nowrap;
}
.one{
    display: inline-block;
    width: 230px;
    height: 450px;
    background-color: green;
}
#otop{
    position: relative;
    width: 100%;
    height: 331px;
    /* background-color: yellow; */
}

#otop:hover #hiding{
    position: absolute;
    top: 0px;
    left: 2px;
    display: block;
    width: 230px;
    height: 331px;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
}
#otop #hiding{
    display: none;
}
#otop #rp{
    position: absolute;
    top: -40px;
    left: 10px;
    font-size: 40px;
    color: white;
}
#otop p{
    position: absolute;
    top: 9px;
    left: 25px;
    font-size: 13px;
    color: white;
}

#obottom{
    /* float: left; */
    width: 100%;
    height: 119px;
    /* background-color: yellow; */
}
#obottom p:nth-child(2){
    font-size: 12px;
}
#obottom #obr{
    /* position: relative; */
    display: flex;
    justify-content: space-around
}
#obottom button{
    /* display: inline-block; */
    width: 50px;
    height: 30px;
}
#obottom button:last-child{
    font-size: 10px;
}
.one #obottom #obr button:last-child, .two #obottom #obr button:last-child, .three #obottom #obr button:last-child, .four #obottom #obr button:last-child{
    width: 100px;
}
#first .one img, .two img, .three img, .four img{
    width: 230px;
    height: 331px;
}
.two{
    display: inline-block;
    width: 230px;
    height: 450px;
    background-color: green;
}
.three{
    display: inline-block;
    width: 230px;
    height: 450px;
    background-color: green;
}
.four{
    display: inline-block;
    width: 230px;
    height: 450px;
    background-color: green;
}