/* 767px 이상 side_nav */

@font-face {
    font-family: "pacman";
    src: url(../fonts/Rubik_Iso/RubikIso-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input::placeholder {
    font-family: "DungGeunMo";
}

textarea::placeholder {
    font-family: "DungGeunMo";
}

body {
    margin: 0; padding: 0;
    position: relative;
    font-family: "DungGeunMo";
}

.middle_body {
    width: 470px;
    height: auto;
    margin: 60px 0 60px 0;
    position : relative; left: 50%;
    transform: translateX(-50%);
}

/* 실시간 알림창 */
#live_chat_noti_wrap {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    display: none;
}
#live_chat_noti_wrap .live_chat_noti {
    width: 400px; height: 150px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 20px;
    position: fixed; top: 30%; left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}
.live_chat_noti p {
    text-align: center;
    margin: 0;
}
.live_chat_noti p span {
    font-weight: bold;
    font-size: 16px;
}
.live_chat_noti .btns {
    display: flex; justify-content: center;
    margin-top: 10px;
}
#appBtn, #rejBtn {
    width: 80px;
    display: flex; justify-content: center; align-items: center;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: white;
}
#appBtn {
    background-color: rgb(0, 160, 160);
}
#appBtn:hover {
    background-color: rgb(82, 192, 192);
}
#rejBtn {
    background-color: rgb(218, 85, 85);
}
#rejBtn:hover {
    background-color: rgb(233, 134, 134);
}

/* 상단 nav */
.top_nav_container {
    height: 60px;
    position: fixed; top: 0;
    width: 100%;
    background-color: white;
}
.top_nav {
    width: 470px; height: 100%;
    border-bottom: 1px solid silver;
    display: flex; justify-content: center; align-items: center;
    position : relative; left: 50%;
    transform: translateX(-50%);
}
.top_nav .logo {
    font-size: 32px; font-family: "pacman";
    position: absolute; left: 15px;
    cursor: pointer;
}
.top_nav img, .bottom_nav img {
    width: 27px; height: 27px;
    display: flex; justify-content: center; align-items: center;
}
.top_nav img:hover, .bottom_nav img:hover{
    transform: scale(105%);
    cursor: pointer;
}
.top_nav .noti {
    position: absolute; right: 65px;
}
.top_nav .live_chat {
    position: absolute; right: 15px;
}
#red_dot{
    display: none;
    z-index: 0;
    margin-right: -330px;
    margin-bottom: -12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}

/* 하단 nav */
.bottom_nav_container {
    height: 60px;
    position: fixed; bottom: 0;
    width: 100%;
    background-color: white;
}
.bottom_nav {
    width: 470px; height: 100%;
    border-top: 1px solid silver;
    display: flex; justify-content: center; align-items: center;
    position : relative; left: 50%;
    transform: translateX(-50%);
}
.bottom_nav div {
    margin: 0 50px 0 50px;
}
.bottom_nav .profile_img img {
    border: 0.5px solid black;
    border-radius: 50%;
}

header {
    width: 100vw; height: 100vh;
}
#loading {
    width: 100vw; height: 100vh;
    background-color: black;
    overflow: hidden;
    display: flex; justify-content: center;
    z-index: 200;
}
#loading img {
    width: 100%;
}