.search_container {
    width: 100%; height: 100px;
}
.search_container form {
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
    position: relative;
}

/* 검색 값 없을 시 */
.search_container form .no_searched {
    color: #d7303b;
    text-align: left;
    font-size: 12px;
    padding: 0 15px 0 15px;
    position: absolute;
    width: 470px;
    top: 20px; left: 50%;
    transform: translateX(-15%);
    display: none;
}
.search_container form .no_searched.is-active {
    display: block;
}

/* 검색 input 창 */
.search_container form .keyword_input {
    position: absolute; top: 40px;
    width: 350px; height: 35px;
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
}
.search_container form .search_btn {
    border: none;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background-color: white;
    background-image: url(../nav_icon_img/icon_search.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    right: 67px;
    top: 45px;
    cursor: pointer;
}

.search_container2 {
    width: 100%; height: auto;
    position: relative; top: 0;
}
/* 전체 게시글 */
.search_container2 .allPosts {
    width: 100%; height: 100%;
    display: flex; flex-wrap: wrap;
}
.allPosts div {
    width: 33.333333333%; height: 150px;
    border: 3px solid white;
    box-sizing: border-box;
    overflow: hidden;
}
.allPosts div:hover {
    transform: scale(105%);
    cursor: pointer;
}
.allPosts div img {
    width: 100%;
}
/* 검색 자동완성 */
.autocomplete_wrap {
    width: 350px; height: 500px;
    position: absolute; top: 0; left: 50%;
    transform: translateX(-50%);
    overflow: scroll;
    display: none;
}
.autocomplete_wrap #autoN, .autocomplete_wrap #autoP {
    border-bottom: 1px solid rgb(230, 230, 230);
    max-height: 300px;
    overflow: scroll;
}
.autocomplete_wrap #autoN div, .autocomplete_wrap #autoP div {
    width: 350px; height: auto;
    padding: 5px  10px 5px 10px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    cursor: pointer;
}
.autocomplete_wrap #autoN div:hover, .autocomplete_wrap #autoP div:hover {
    background-color: rgb(230, 230, 230);
}
.autocomplete_wrap #autoN div .profile_img {
    background-color: rgba(0, 0, 0, 0);
    width: 40px; height: 40px;
    display: flex; justify-content: center; align-items: center;
}
.autocomplete_wrap #autoN div .profile_img img {
    width: 35px; height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.autocomplete_wrap #autoN div .nickname {
    width: 290px; height: 40px;
    box-sizing: border-box;
    display: flex; align-items: center;
    background-color: rgba(0, 0, 0, 0);
}
.autocomplete_wrap #autoP div p {
    margin: 5px 10px 5px 10px;
}

.video {
    width: 100%; height: 100%;
}